AzureDFProvider.tf
variables.tf
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
AzureDFProvider.tfold
AzureDFProvider.*
AzureDFProviderSecret.tf
variables.tf
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
.terraform/
